body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: #fff1f1;
  /* overflow-x: hidden; */
}

path.subunit:hover {
  fill-opacity: 0.5;
}

div.tooltip {
  position: absolute;
  padding: 5px 10px;
  color: black;
  border-radius: 5px;
  font: 12px sans-serif;
  background: #272727ef;
  border-bottom: 4px solid #021bff;
  pointer-events: none;
  width: 200px;
}

.tooltip table {
  width: 100%;
  border: 1px dashed #e2e0e0;
}

.tooltip thead,
.tooltip h3 {
  color: white;
}

table {
  width: calc(100% - 80px);
  border-collapse: collapse;
}

.tooltip th,
.tooltip td,
#india-cases th,
#india-cases td {
  border: none;
  vertical-align: center;
  text-align: center;
  padding: 0.25rem;
  vertical-align: top;
  /* padding: 5px; */
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th {
  text-align: left;
}

table.table th,
table.table td {
  padding-top: 1.1rem;
  padding-bottom: 1rem;
}

.tooltip table {
  color: #f0ffff;
}

.tooltip th,
.tooltip td {
  vertical-align: center;
  text-align: center;
  padding: 5px;
  border: none;
}

.tooltip th {
  font-size: 16px;
  border-bottom: 2px solid #fff1f1;
}

.tooltip td {
  font-size: 16px;
}

#india-cases {
  margin-bottom: 20px;
  background-color: #e4e4e4;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#india-statewise-cases {
  padding: 10px 40px;
  min-width: 300px;
  max-width: 900px;
  max-height: 600px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #e2e0e0;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#india-statewise-cases tr {
  border-bottom: 1px dashed coral;
}

#map {
  margin: auto;
}
